.modal-thanks {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 2;
  display: none;
}

.modal-thanks.shown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-thanks__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}

.modal-thanks__content {
  position: relative;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.modal-thanks__title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black1);
  margin-bottom: 1.2em;
  text-align: center;
}

.modal-thanks__row {
  width: 100%;
  text-align: center;
}

.modal-thanks__row + .modal-thanks__row {
  margin-top: 1.2em;
}

@media (max-width: 767px) {
  .modal-thanks__title {
    font-size: 18px;
  }

  .modal-thanks__row {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .modal-thanks__title {
    font-size: 14px;
  }

  .modal-thanks__row {
    font-size: 10px;
  }
}