.modal-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 2;
  display: none;
}

.modal-image.shown {
  display: block;
}

.modal-image__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.modal-image__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95vmin;
}

.modal-image__content img {
  height: 100%;
  max-width: none;
}