.partners {
  padding-top: 75px;
  padding-bottom: 90px;
}

.partners__title {
  margin-bottom: 65px;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.partners__item {
  flex-basis: 30%;
  max-height: 55px;
}

.partners__item img {
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 767px) {
  .partners {
    padding-top: 55px;
    padding-bottom: 65px;
  }

  .partners__title {
    margin-bottom: 40px;
  }

  .partners__list {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .partners {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .partners__title {
    margin-bottom: 18px;
  }
}